@import "../../scss/variables";
@import "../../scss/mixins";

.Cocktail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40rem;
  background-color: $clr-white;
  border-radius: .5rem;
  box-shadow: $dark-shadow;

  @include respond(tab-port) {
    height: 60rem;
  }

  img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  button {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }

  a {
    width: 100%;
  }
}


.Name {
  @include respond(tab-port) {
    font-size: 3.8rem;
  }
}

.Glass {
  @include respond(tab-port) {
    font-size: 2.4rem;
  }
}

