@import "../../scss/variables";
@import "../../scss/mixins";

.CocktailDetailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  h1 {
    text-align: center;
  }

  button {
    border-radius: .5rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.CocktailDetails {
  width: 80%;
  min-height: 30rem;
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  img {
    height: 30rem;
    width: auto;

    @include respond(tab-port) {
      width: 80%;
      height: auto;
    }

    @include respond(phone) {
      width: 100%;
    }
  }
}

.InfoItem:not(:last-child) {
  margin-bottom: 1rem;
}


.CocktailInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100%;
  margin-left: 5rem;
  span {
    letter-spacing: .1rem;
    font-size: 2rem;
  }

  @include respond(tab-port) {
    width: 80%;
    // height: 30rem;
    margin-left: 0;
    margin-top: 5rem;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.InfoTitle {
  font-size: 2.4rem;
  font-weight: 800;
  margin-right: 2rem;
}